body {
    background-color: #f9f9f9;
    background: url(../images/background-blur.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.epa-logo img {
    position: relative;
    height: 100px;
}

.panda-open {
    position: relative;
    height: 75px;
    background-color: #fff;
}

.panda-open h1 {
    vertical-align: center;
    padding-left: 20px;
    padding-top: 15px;
    font-weight: 700;
    font-size: 200%;
}

.panda-open span {
    font-weight: 400;
    font-size: 70%;
}

.content {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgba(0,0,0, 0.25);
    color: #fff;
}

.content .address {
    margin-top: 50px;
}