html, body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
}

.top-bar, .top-bar ul {
    background-color: #0F4E9D;
    color: #fff;
}

.top-bar h1 {
    font-size: 100%;
    font-weight: 600;
    margin-bottom: 0px;
}

.top-bar a {
    color: #fff;
}

.top-bar a:hover {
    color: #d9d9d9;
}
